* {
    margin: 0;
    padding: 0;
}

#main {
  display: flex;
  flex-direction: column;
  background-color: azure;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/img.jpg);
}

#top_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#top_nav a {
  text-decoration: none;
  color: white;
}

#container {
  margin: 20%;
  border: 1px solid white;
  width: 50%;
  height: fit-content;
  justify-content: center;
  align-items: center; 
  margin: auto;
  background-color: white;
  opacity: 80%;
}

.approve p {
  display: flex;
  justify-content: center;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 7rem 7rem;
  width: 50%;
}

#form h1 {
  align-self: center;
  padding: 0 0 10% 25%;
}

#form h2 {
  font-size: 17px;
}

#address {
  width: 33vw;
  height: 5vh;
}

#password {
  width: 33vw;
  height: 5vh;
}

#btn {
  width: 33vw;
  height: 5vh;
}



